@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: whitesmoke;
    font-family: sans-serif;
}
.page{
    position: relative;
    width:100%;
    overflow: hidden;
}

/* Navbar */
.navbar{
    display: flex;
    height:12vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.navbar .logo{
    flex:2;
}
.navbar .logo .arconix{
    height:10vh;
    padding:0 50px;
}
.navbar ul{
    list-style: none;
}
.navbar .navlinks{
    flex:3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar .hamburger{
    display: none;
}
.navbar .navlinks li{
    margin:0 20px;
    font-size: 18px;
    font-weight: 600;
    color:#34BFF0;
    cursor: pointer;
    transition: 0.2s ease;
}
.navbar .navlinks li:hover{
    color:#289fca;
    transition: 0.2s ease;
}
.navbar .navlinks a{
    text-decoration: none;
}

@media only screen and (max-width:700px){
    .navbar .logo{
        flex:1;
        align-self: flex-start;
        z-index: 15;
    }
    .navbar .logo .arconix{
        height:10vh;
        padding:10px 20px;
    }
    .navbar .navlinks{
        position: absolute;
        top:0vh;
        left:100%;
        height:100vh;
        width:100%;
        flex-direction: column;
        align-items: center;
        background: #34BFF0;
        transition: 0.5s ease;
        z-index: 5;
    }
    .navbar .navlinks li{
        color:rgb(226, 226, 226);
        margin:25px 20px;
        font-size: 24px;
        transition: 0.2s ease;
    }
    .navbar .hamburger{
        display: block;
        margin-right:30px;
        z-index: 10;
        transition: opacity .3s ease-in-out;
    }
    .navbar .navlinks li:hover{
        color:white;
        transition: 0.2s ease;
    }
    .navlinks.active{
        left:0%;
        transition: 0.5s ease;
    }
}


/* Content */
.sec1{
    text-align: center;
    margin:80px 30%;
    font-family: 'Poppins', sans-serif;
}
.sec1 .head{
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    margin:20px 0;
}
.sec1 p{
    margin:20px 0;
}
.sec1 .cta button{
    width:150px;
    padding:10px 20px;
    margin:0 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    border:none;
    border-radius: 10px;
}
.sec1 .cta .btn1{
    background: #34BFF0;
    color:white
}
.sec1 .cta .btn2{
    background:white;
    color:#34BFF0;
    border:2px solid #34BFF0;
}